$font-family-sans-serif: Raleway;
$font-family-monospace: Raleway;
$primary: #4CC0B5;
$dark: #082120;
$light: #ffffff;
$body-color: #0C3632;
$border-radius: 0;
$font-weight-bold: 600;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3.5;
$h2-font-size: $font-size-base * 3;
$h3-font-size: $font-size-base * 2;
$h5-font-size: $font-size-base * 1.125;
$h6-font-size: $font-size-base * 0.75;
$navbar-dark-color: #ffffff;
$navbar-dark-hover-color: #ffffff;
$form-control-focus-background-color:#4CC0B5;
$p-font-size: 1.25;
$card-border: 0px;
$card-background-color: transparent;
$navbar-light-navbar-text: #000;
$enable-rfs: false;