@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";
.mt-10 {
    margin-top: 10rem;
}

.navbar-brand {
    width: 8rem;
    height: 2.25rem;
}

.navbar-nav a {
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 600;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    display: relative;
    position: relative;
}

.nav-link-button {
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: bold;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    display: relative;
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    color: #4CC0B5;
    background: currentColor;
    transform: scaleX(0);
    transition: transform 250ms ease-in;
}

.nav-link:hover::after {
    transform: scaleX(1);
}

.nav-link-button:hover {
    content: url(images/toeta_button_hover.svg);
    z-index: 999;
    transition: transform 250ms ease-in;
    display: inline-block;
}

.sticky {
    position: fixed;
    top: 0;
}

.hidden {
    visibility: hidden;
}

// Mobile menu
.navbar-dark .navbar-toggler-icon {
    background-image: url(images/hamburger_menu2.svg);
    width: 20px;
    height: 15px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

@media screen and (max-width: 600px) {
    .navbar {
        padding-top: 1rem;
    }
    .navbar-brand img {
        max-width: 3.875rem;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #000;
        position: relative;
    }
    .navbar-collapse {
        background-color: rgba(255, 255, 255, 0.95);
        text-align: center;
    }
}

// Hero
.hero-bg {
    background-repeat: no-repeat;
    background-image: url(images/herophoto.png);
    height: 58.75rem;
    background-size: cover;
    background-position: bottom center;
}

.hero-overlay {
    background: linear-gradient(1deg, rgb(8, 33, 32) 0%, rgba(8, 33, 32, 0.796)50%, rgba(8, 33, 32, 0) 200%);
    height: 58.75rem;
}

.hero-text {
    text-align: left;
    color: white;
    margin-top: 20.5rem;
    padding-bottom: 20rem;
    h1 {
        font-weight: 600;
    }
}

.hero-text h3 {
    font-weight: 600;
    color: #ffffffcc;
    margin-top: 1.5rem;
}

.join-mailing-list {
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: #082120;
    border: 1px solid rgba(76, 192, 181, 0.5);
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.join-mailing-list h3 {
    line-height: 1.25;
    text-align: center;
    color: #4CC0B5;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.join-mailing-list h4 {
    line-height: 1.375;
    text-align: center;
    color: #ffffff;
    padding-top: 0.5rem;
    padding-bottom: 2.5rem;
}

.input-group {
    height: 3rem;
    border-color: rgba(76, 192, 181, .5);
    font-size: 1.125rem;
    color: #fff;
    border-right-color: transparent;
    max-width: 31.25rem;
    display: center;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
}

.form-control {
    background-color: #082120;
    border: 1px solid rgba(76, 192, 181, 0.5);
    color: #fff;
}

.form-control:focus {
    background-color: rgba(76, 192, 181, 0.5);
    border: 1px solid #fff;
    color: #fff;
    box-shadow: none;
}

.form-control::placeholder {
    color: #fff;
}

.btn-outline-secondary {
    width: 5.3rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #fff;
    color: #4CC0B5;
    border-radius: 2px;
    box-shadow: none;
}

.btn-outline-secondary:before {
    color: #fff;
}

.btn-outline-secondary:hover {
    box-shadow: none;
    background-color: #4CC0B5;
    color: #fff;
}

.join-mailing-list h5 {
    line-height: 1.5;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 2rem;
    padding-bottom: 2.625rem;
}

@media screen and (max-width: 600px) {
    .hero-bg {
        height: 40rem;
    }
    .hero-overlay {
        height: 40rem;
    }
    .hero-text {
        margin-top: 17rem;
        line-height: 5;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        max-width: 21rem;
        padding-bottom: 3rem;
        h1 {
            margin-bottom: 0rem;
            line-height: 1.5;
        }
        h3 {
            line-height: 1.5;
        }
    }
    .join-mailing-list {
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 2rem;
        h3 {
            font-size: 1.5rem;
            max-width: 16.25rem;
            margin-left: auto;
            margin-right: auto;
        }
        h4 {
            max-width: 16.25rem;
            margin-left: auto;
            margin-right: auto;
            line-height: 1.5;
            padding-top: 0;
            padding-bottom: 1.25rem;
        }
        h5 {
            max-width: 16.25rem;
            margin-left: auto;
            margin-right: auto;
            line-height: 1.5;
            margin-top: 1.25rem;
            margin-bottom: 1.25rem;
            padding-bottom: 0;
        }
    }
    .input-group {
        max-width: 17.6rem;
    }
}

// Content sections 
.content-header {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 5rem;
}

.content {
    padding-top: 8.5rem;
}

.content h3 {
    //border-bottom-width: 2px;
    //border-bottom-style: solid;
    //border-bottom-color: #4CC0B5;
    padding-bottom: 0.5rem;
    //display: inline-block;
    color: #000;
    //max-width: 27rem;
    line-height: 1.4;
}

.content h3 {
    position: relative;
    display: inline;
}

.content h3::after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 2px solid pink;
    bottom: 0;
    left: 0;
}



.content h5 {
    padding-top: 3.5rem;
    display: inline-block;
    max-width: 31.25rem;
    line-height: 1.7;
}

@media only screen and (max-width: 600px) {
    .content {
        text-align: center;
        padding-top: 3rem;
    }
    .content-header {
        padding-top: 3rem;
    }
    .content h3 {
        padding-top: 1.5rem;
        line-height: 1.3;
        max-width: 16.875rem;
    }
    .content h5 {
        padding-top: 1rem;
        max-width: 18.75rem;
    }
}

// Four Reasons 
.four-reasons {
    text-align: center;
}

.four-reasons h3 {
    display: inline-block;
    padding-top: 5rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #4CC0B5;
    padding-bottom: 0.5rem;
}

.four-reasons-cards {
    $card-height: 100%;
    padding-top: 8rem;
    padding-bottom: 9.25rem;
    border: 0px;
}

.card-text-center {
    display: center;
    border: 0px;
}

.card-icon-top {
    margin-top: 1.8rem;
    width: 6.25rem;
    height: 6.25rem;
}

.card-title {
    font-weight: bold;
    padding-bottom: 1.125rem;
    padding-top: 3.125rem;
}

.card-text {
    color: #666666;
    margin-left: 3rem;
    margin-right: 3rem;
    line-height: 1.7;
}

@media only screen and (max-width: 600px) {
    .four-reasons-heading {
        padding-top: 7.75rem;
        line-height: 1.5;
        font-size: 1.5rem;
        max-width: 83%;
        color: #000;
    }
    .card-title {
        font-size: 1rem;
        font-weight: bold;
        color: #000;
        padding-top: 0.5rem;
        margin-bottom: 0;
        padding-bottom: 0.75rem;
    }
    .four-reasons-cards {
        padding-top: 2rem;
        padding-bottom: 5rem;
    }
    .card-text {
        font-size: 0.875rem;
        max-width: 18.75rem;
        margin-left: 0;
        margin-right: 0;
    }
}

// Taimne Teisipäev
.taimne-teisip2ev-heading {
    display: inline-block;
    align-items: center;
    text-align: center;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #4CC0B5;
    padding-bottom: 0.5rem;
    color: #000;
}

.taimne-teisip2ev-logo {
    padding-top: 2rem;
    padding-bottom: 4.25rem;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .taimne-teisip2ev-heading {
        line-height: 1.5;
        font-size: 1.5rem;
        max-width: 83%;
    }
}

// Social Media 
.socialmedia-bg {
    padding-top: 2.875rem;
    background-repeat: no-repeat;
    background-image: url(images/socialmediaphoto.jpg);
    background-size: cover;
    background-position: bottom center;
}

.socialmedia-text {
    display: inline-block;
    text-align: center;
    color: #fff;
    h3 {
        display: inline-block;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: #4CC0B5;
        padding-bottom: 0.5rem;
    }
    h4 {
        padding-top: 2.5rem;
        padding-bottom: 2rem;
    }
    h5 {
        padding-bottom: 3.5rem;
        line-height: 1.7;
    }
}

.card-icon-top-sm-fb {
    display: inline-block;
    width: 6.25rem;
    height: 6.25rem;
    background: transparent;
    transition-property: width, height;
    background: url(images/fb_logo.svg);
}

.card-icon-top-sm-fb:hover {
    background: url(images/socialmediaplus_hover_white.svg);
    z-index: 999;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
}

.card {
    background-color: transparent;
}

.social-media-cards {
    padding-bottom: 5.75rem;
}

.card-icon-top-sm-fb {
    display: inline-block;
    width: 6.25rem;
    height: 6.25rem;
    background: transparent;
}

// .card-icon-top-sm {
//     display: inline-block;
//     width: 6.25rem;
//     height: 6.25rem;
//     background: transparent;
//     transition-property: width, height;
//     background-clip: padding-box;
//     background-color: transparent;
// }
// HOVERVARIANT2
// .card-icon-top-sm:hover {
//     content: url(images/socialmediaplus_hover_white.svg);
//     background: no-repeat;
//     background: transparent;
//     z-index: 999;
//     transition: ease-in;
//     display: inline-block;
//     position: relative;
//     animation: zoom-in 0.5s forwards;
//     transform-origin: 0 0;
//     background-clip: padding-box;
// }
@keyframes zoom-in {
    /* You could think of as "step 1" */
    0% {
        width: 0px;
        top: 0;
    }
    /* You could think of as "step 2" */
    100% {
        width: 45px;
    }
}

@media only screen and (max-width: 600px) {
    .socialmedia-text {
        h3 {
            padding-top: 1rem;
            font-size: 2rem;
            font-weight: 600;
        }
        h4 {
            font-size: 1.5rem;
            line-height: 1.5;
            padding-top: 1.75rem;
            margin-bottom: 0;
            padding-bottom: 1.75rem;
        }
        h5 {
            padding-bottom: 4.5rem;
            margin-bottom: 0;
        }
        .card-icon-top-sm {
            width: 55px;
            height: 55px;
        }
        .socialmedia-card-title {
            margin-top: 0.25rem;
        }
    }
    .social-media-cards {
        padding-bottom: 6rem;
    }
}

// Footer
.page-footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    .brand-name {
        padding-bottom: 2rem;
    }
    .button {
        background-color: transparent;
        text-align: center;
        width: 5rem;
        height: 1.5rem;
        font-size: 0.625rem;
        display: inline-block;
        font-weight: 600;
        letter-spacing: 1.2px;
        padding-top: 0.15rem;
        padding-bottom: 0.1rem;
        margin-left: -0.75rem;
        margin-bottom: 0.1rem;
        margin-top: 0.1rem;
        text-transform: uppercase;
        text-decoration: none;
        color: #6D8684;
        line-height: 2;
    }
    .button:hover {
        background-image: none;
        width: 5rem;
        height: 1.5rem;
        background: #4CC0B5;
        color: #fff;
        display: inline-block;
        font-size: 0.625rem;
        font-weight: 600;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        padding-top: 0.15rem;
        padding-bottom: 0.1rem;
        margin-left: -0.75rem;
        margin-top: 0.1rem;
        border-radius: 2px;
        line-height: 2;
    }
}

.brand {
    padding-bottom: 2rem;
}

.brand-name {
    color: #6D8684;
}

.footer-menu-item {
    font-size: 0.75rem;
    list-style: none;
    color: #6D8684;
    .nav-link {
        color: #6D8684;
    }
}

.footer-socialmedia-icon {
    line-height: 0;
}

.contact-info {
    text-align: left;
    align-items: left;
}

.menu-sm-buttons {
    text-align: right;
    float: right;
    align-content: right;
}

#footer-fb:hover {
    content: url(images/footer_fb_button_hover.svg);
    z-index: 999;
    transition: transform 250ms ease-in;
    display: inline-block;
}

#footer-twitter:hover {
    content: url(images/footer_twitter_button_hover.svg);
    z-index: 999;
    transition: transform 250ms ease-in;
    display: inline-block;
}

#footer-yt:hover {
    content: url(images/footer_yt_button_hover.svg);
    z-index: 999;
    transition: transform 250ms ease-in;
    display: inline-block;
}

#footer-ig:hover {
    content: url(images/footer_ig_button_hover.svg);
    z-index: 999;
    transition: transform 250ms ease-in;
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .brand {
        text-align: center;
    }
    .contact-info {
        text-align: center;
    }
    .footer-menu-item {
        align-items: center;
        .nav-link {
            margin-right: 0.625rem;
            margin-left: 0.625rem;
            padding-left: 0;
            padding-right: 0;
        }
    }
    .footer-socialmedia-icon {
        align-self: center;
        align-content: center;
        align-items: center;
        text-decoration: center;
    }
    .page-footer {
        .button {
            margin-bottom: 3.25rem;
            transform: none;
            transition: none;
        }
    }
}

// Mobile Typography
@media screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
        text-align: center;
    }
    h2 {
        font-size: 1.5rem;
        text-align: center;
    }
    h3 {
        font-size: 1.25rem;
        text-align: center;
    }
    h4 {
        font-size: 1rem;
        text-align: center;
    }
    h5 {
        font-size: 0.875rem;
        text-align: center;
    }
    h6 {
        font-size: 0.75;
        text-align: center;
    }
}
/* petsi sticky tricky */

#menufix {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

#menufix {
    transition: padding-top 0.5s, padding-bottom 0.5s, background-color 1s;
}

#menufix.stick {
    background-color: rgba(255, 255, 255, 0.95);
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.13);
    .navbar-nav a {
        color: #000;
    }
    .nav-link-button img {
        content: url(images/toeta_button_sticky.svg);
    }
    .navbar-brand img {
        content: url(images/NL_uuslogo.svg);
    }
}

#menufix.burger {
    transition: background-color 0s;
    background-color: rgba(255, 255, 255, 1);

    .navbar-brand img {
        content: url(images/NL_uuslogo.svg);
    }

    .navbar-dark .navbar-toggler-icon {
        background-image: url(images/hamburger_close.svg);
    }
}




@media screen and (max-width: 600px) {
    #menufix {
        padding-top: 1rem;
    }
    #menufix.stick {
        background-color: #fff;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
        .nav.link {
            text-align: center;
        }
        .nav-link:active {
            color: #4CC0B5;
        }
        .nav-link::after {
            transition: transform 500ms ease-in;
            content: none;
        }
        .nav-link:active::after {
            transform: none;
        }
        .navbar-toggler-icon {
            background-image: url(images/hamburger_menu_black.svg);
            width: 20px;
            height: 15px;
        }
        .nav-link-button:active {
            content: url(images/toeta_button_hover.svg);
            z-index: 999;
            transition: transform 250ms ease-in;
            display: inline-block;
        }
        .nav-link-button:hover {
            content: none;
        }
    }
}

