        .navbar-nav {
            margin-left: 16.5rem;
        }
        
        .navbar-nav a {
            color: #ffffff;
            font-size: 0.875rem;
            font-weight: bold;
            padding-top: 10px;
            padding-right: 12px;
            padding-bottom: 10px;
            padding-left: 12px;
            align-items: center;
        }
        
        .hero-bg {
            background-repeat: no-repeat;
            background-image: url(images/herophoto.png);
            background-size: cover;
            background-position: bottom center;
        }
        
        .hero-overlay {
            background: linear-gradient(180deg, #082120 0%, rgba(8, 33, 32, 0.796875) 56.96%, rgba(8, 33, 32, 0) 232.69%);
        }
        
        .hero-text {
            font-weight: bold;
            text-align: left;
            color: white;
            margin-left: 11.5rem;
            margin-top: 13.8rem;
            padding-bottom: 20rem;
            width: 53rem;
        }
        
        .hero-text h3 {
            color: #ffffffcc;
            margin-top: 1.5rem;
        }
        
        .join-mailing-list {
            margin-left: 11.5rem;
            margin-right: 11.5rem;
            width: 67rem;
            height: 19.25 rem;
            background-color: #082120;
            border: 1px solid rgba(76, 192, 181, 0.5);
            box-sizing: border-box;
            margin-top: 1rem;
        }
        
        .join-mailing-list h3 {
            text-align: center;
            color: #4CC0B5;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
        
        .join-mailing-list h4 {
            text-align: center;
            color: #ffffff;
            padding-top: 0.5rem;
            padding-bottom: 2.5rem;
        }
        
        .input-group {
            width: calc(33.33333% - 56.66667px);
            border-color: rgba(76, 192, 181, .5);
            font-weight: 600;
            color: #fff;
            border-right-color: transparent;
            margin-right: -1px;
        }
        
        .input-group-text {
            display: flex;
            align-items: center;
            padding: 0.375rem 0.75rem;
            margin-bottom: 0;
            font-size: 1, 125rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            text-align: center;
            white-space: nowrap;
            background-color: rgba(196, 196, 196, 0);
            border: 1px solid rgba(76, 192, 181, 0.5);
        }
        
        .form-control {
            background-color: #082120;
            border: 1px solid rgba(76, 192, 181, 0.5);
        }
        
        .btn-outline-secondary {
            font-weight: bold;
            letter-spacing: 2px;
            text-transform: uppercase;
            background-color: #4CC0B5;
        }
        
        .join-mailing-list h5 {
            text-align: center;
            color: rgba(255, 255, 255, 0.7);
            margin-top: 2rem;
            padding-bottom: 2.625rem;
        }
        
        .content-header {
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 2px;
            padding-top: 5rem;
        }
        
        .content {
            padding-top: 8.5rem;
        }
        
        .content h4 {
            padding-top: 6rem;
        }
        
        h5 {
            line-height: lh-lg;
        }